<section class="pc-armor-tn">
  <h2>{{localize "l5r45.traits.armorTn"}}</h2>
  <div class="pc-armor-grid">
      <div class="armor-tn-reduction">
        {{localize "l5r45.traits.armorReduction"}}
      </div>
    <div class="armor-tn-reduction-value">
      {{system.armor_tn.reduction}}
    </div>
  </div>
</section>