<form>
  <div class="form-group">
    <label> {{localize "l5r45.traits.name"}}</label>
    <input type="text" name="itemName" placeholder="New spell">
  </div>

  <div class="form-group">
    <label>{{localize "l5r45.skill.type"}}</label>
    <select name="itemType">
      <option value="technique">{{localize "l5r45.sheet.technique"}}</option>
      <option value="kiho">{{localize "l5r45.sheet.kiho"}}</option>
    </select>
  </div>
</form>